body {
  overflow: hidden;
}

#slide-stage{
  overflow: hidden;
  width: 1024px;
  height: 768px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform:translate(0,0,0);
}

#main-content {
  width: 2000px;
  height: 2000px;
  transition: transform 0.3s ease-out;
}

.img-box {  
  display: inline-block;
  width: 140px;
  height: 160px;
  background-size: cover;
  background-color: #000;
  margin: 0 2px;
  -webkit-filter:blur(3px);
}

.bg-spacial {
  width: 1024px;
  height: 768px;
  background-size: cover;
  background-color: #000;
  background-repeat: no-repeat;
  position: absolute;
  transform: translate(1500px, 1500px);
  transition: transform 2s ease-in-out;
}

.black-overlay{
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  position: absolute;
  top: 0px;
  left: 0px;
}

.white-bg {
  width: 1024px;
  height: 800px;
  background-size: cover;
  background-color: #000;
  background-repeat: no-repeat;
  position: absolute;
  transform: translate(0px, 0px);
  transition: transform 2s ease-in-out;
}

#logo-bg{
  width: 1024px;
  height: 768px;
  background-color: #fff;
  background: url('../img/logo/TMRbyAIA.png');
  position: absolute;
  /*background-size: cover !important;*/
  background-size: 80% 80%;
  transform: translate(1500px, 0);
  transition: transform 0.5s ease-in-out;
  transform-origin: center center !important;
  top: 0px;
  left: 0px;
}

#logo-bg-aia{
  width: 1024px;
  height: 768px;
  background-color: #D11E48;
  background: url('../img/logo/AIA.jpg');
  position: absolute;
  transform: translate(0, 0);
  transition: transform 0.5s ease-in-out;
  transform-origin: center center;
  top: 0px;
  left: 0px;
}

#backgroup-layer{
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 2s ease-in-out;
}

#backgroup-layer>.backgroup-container{
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.5);
}

#all-content{
  transition: transform 2s ease-in-out;
}


#text-display{
  position: absolute;
  font-size: 48px;
  top:0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

.front-img {
  position: absolute;
  /*left: 0;*/
  opacity: 0;
  z-index: 10;
  width: 640px;
  height: 620px;
  background-color: white;
  border: 10px solid white;
  /*border-radius: 5px;*/
  background-size: cover !important;;
  background-position: center center !important;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 10px #000000;
}

.front-img-right-small {
  width: 300px;
  height: 280px;
}

.front-img-right-middle {
  width: 400px;
  height: 380px;
}

.front-img-right-mini-top, .front-img-right-mini-bottom {
  width: 280px;
  height: 260px;
}

.front-img-text {
  position: absolute;
  z-index: 10;
  width: 900px;
  height: 200px;
  /*border: 1px solid red;*/
}
.front-img-text p {
  color:white;
  font-size: 95px;  
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.front-img-text p.tmr {
  font-size: 130px;
}
.front-img-text span {
  color: #00FF4D;
}
