body {
    font-family: cordia_new;
    font-size: 26px;
    background-color: white;
    padding-top: 70px;
    min-height: 2000px;
    max-width: 100%;
    overflow-x: hidden;

}

.container-fluid{
    /*width: 500px !important;*/
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    overflow-x: hidden;

    transform-origin: 0 0;
    -webkit-transform-origin: 0 0 ;

}

.container-scale {
    /*width: 100%;*/
    /*overflow: hidden;*/
    /*position: relative;*/
}

.nav-link{
    cursor: pointer;
}

.navbar-header{
    height: 70px;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0 0px;
}

.navbar-default{
    background-color: #D31E47;
}

.navbar-brand {
    padding: 12px 15px 0 15px;
}

#navbar .navbar-aiabrand{

}

#navbar .navbar ul{
    height: 50px;
}

#navbar .navbar li{
    height: 100%;
}

#navbar .navbar li a{
    padding-top: 25px;
}

#navbar .navbar-right li a{
    padding-top: 5px;

}

@media (min-width: 768px){
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
        /*border-style: solid;*/
        border-top: thick solid #ffffff;
        background:#D31E47;
        color: white;
    }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background:#D31E47;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    /*color: #555;*/
    background:#D31E47;
}

.navbar-default .navbar-nav>li>a {
    transition: border-color .5s ease-in-out;
    -webkit-transition: border-color .5s ease-in-out;

    border-top: thick solid #D31E47;

    color: white;
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
}


.center-children {
    box-align:center;
    box-pack:center;
    -moz-box-align:center;
    -moz-box-pack:center;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:box;
    display:-moz-box;
    display:-webkit-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(211, 30, 71, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(211, 30, 71, 0.6);
    outline: 0 none;
}


h1{
    color:#D31E47;
    font-weight: bold;
    font-size: 44px;
    font-family: cordia_new;
}

h2{
    color:#D31E47;
    font-weight: bold;
    font-size: 36px;
    font-family: cordia_new;
}


@media (min-width: 768px){
    h1{
        font-size: 65px;
    }

    h2{
        font-size: 50px;
    }
}

p {
    margin: 0px;
}


.dropdown{
    border-radius: 4px;
    background-color: white;
    background-image: url('../img/dropdown-arrow.png');
    background-repeat: no-repeat;
    background-position: 95% center;
    cursor: pointer;
}

.dropdown .dropdown-menu{
    border-radius: 4px;
    border-color: rgba(211, 30, 71, 0.8);
}
.dropdown a{
    text-align: center;
}
.dropdown p{
    padding-left: 25px;

}

.dropdown .dropdown-menu li:hover{
    color: #D31E47;
}

.jumbotron{
    background-color: white;
    max-width: 1084px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}


.inner-container{
    box-sizing: border-box;
    max-width: 1024px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.aia-button {
    color: white;
    background: #D31E47;
    border-radius: 3px;
    border: #D31E47;
    cursor: pointer;
    padding: 5px 40px 3px 40px;
    box-shadow: 2px 2px 2px #888888;
    -moz-box-shadow: 2px 2px 1px #888888;
}

.aia-button:hover{
    color: white;
    background: #BC2049;
}

.sec-seperator {
    background: #D31E47;
    height: 30px;
    /*margin-top: 15px;*/
    /*margin-bottom: 25px;*/
}

.sec-block{
    position: relative;
    overflow: hidden;
}

.pallalax-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    /*transition:transform 0.2s ease-out;*/
    /*-webkit-transition: -webkit-transform 0.2s ease-out;*/
}

#sec-header {
    height: 700px;
    min-height: 300px;
}

#sec-header .pallalax-bg{
    background-image: url('../../assets/img/header-bg.jpg');
}


.header-text{
    background-image: url('../../assets/img/header-gradient.png');
    background-size: 100% 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
}


#event p{
    font-size: 26px;
}



#sec-video .logo-row {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100px;
    background-image: url('../../assets/img/event-logo-l.png');
    background-repeat: no-repeat;
    background-size:contain;
}

#sec-video .play-video-caption{
    color: #D31E47;
    font-weight: bold;
}


@media (max-width: 784px){

    #sec-video .video-list{
        height: 200px;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    #sec-video .video-list li{
        background-color: #ffffff;
        display: inline-block;
    }
}

@media (min-width: 785px){
    #sec-video .video-list{
        height: 400px;
        width: 220px;
        overflow-y: scroll;
        overflow-x: hidden;
    }


    #sec-video .video-list li{
        background-color: #ffffff;
    }
}


#sec-video .video-list .active{
    background-color: #D31E47;
}



#sec-video .video-list-hr{
    width: 400px;
    height: 200px;
    overflow-x: scroll;
    overflow-y: scroll;
}



#sec-video .video-thumb{
    cursor: pointer;
}

#sec-video .video-thumb-block{

    width: 200px;
    padding: 4px;
    position: relative;
}

#sec-video .video-thumb-img{
    width: 100%;
    height: 120px;
    /*background-image: url('../../assets/img/magister.jpg');*/
    background-size: cover;
}



#sec-video .active .video-thumb-caption {
    color: white;
    background-color: #D31E47;
}

#sec-video .video-thumb-caption {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0.9;
    background-color: #ffffff;
    color: #8A9A92;
    font-size: 20px;
    font-weight: bold;
}



#sec-map .pallalax-bg{
    background-image: url('../../assets/img/map-bg.jpg');
    opacity: 0.3;

}

#sec-map {
    /*height: 800px;*/
}

#sec-map .map-header{
    position: relative;;
    /*height: 120px;*/
}

#sec-map .map-container{
    /*position: absolute;*/
    /*top: 0px;*/

}


#sec-map .map-container .map-area {
    position: relative;
    margin: 30px 0px 30px 0px;
}


#sec-map .map-container .map-area .map-pin{
    position: absolute;
    cursor: pointer;
    opacity: 0.8;
}



#mapPopup .modal-title{
    text-align: center;
}

#mapPopup .dropdown{
    border: 3px solid #D31E47;
    border-radius: 4px;
    margin: 1px 10px 1px 10px;
    background-color: white;
    background-image: url('../img/dropdown-arrow.png');
    background-repeat: no-repeat;
    background-position: 95% center;
    cursor: pointer;
}

#mapPopup .dropdown .dropdown-menu{
    width: 100%;
    border: 3px solid #D31E47;
    border-radius: 4px;
}

#mapPopup .dropdown a{
    text-align: center;
}

#mapPopup .dropdown p{
    padding-left: 15px;
    font-size: 22px;
}




#mapPopup .dropdown li{
    font-size: 24px;
    padding-left: 25px;
}


#mapPopup .map-button-area{
    margin: 15px;
}

#map-container{
    margin: 10px;
    border: 3px solid #D31E47;

    border-radius: 4px;
    position: relative;
}

#map-canvas {
    margin: 15px;
    height: 300px;
}

#mapImg {
    max-width: 600px;
    width: 100%;
}

#map-container{
    height: 400px;
}


#map-container .map-footer{
    position: absolute;
    width: 100%;
    /*height: 80px;*/
    bottom: 0px;
    background-color: #D31E47;
    background-image: url('../img/event-logo-only.png');
    background-repeat: no-repeat;
    background-position: 10px center;
}

#map-container .map-footer p{
    padding-left: 86px;
    padding-top: 12px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    line-height: 29px;
}


#map-container .map-footer p span{
    font-size: 24px;
}

@media (min-width: 768px){

    #mapPopup .dropdown p{
        padding-left: 25px;
        font-size: 24px;
    }

    #map-container .map-footer p{
        font-size: 26px;
    }


    #map-container .map-footer p span{
        font-size: 34px;
    }
}


#mapPopover{
    display: none;
}

#mapPopover .popover-content ul{
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

#mapPopover .popover-content li{
    list-style: none;
    font-size: 24px;
    font-weight: bold;
    color: #8a9a92;
    cursor: pointer;
    padding-left: 40px;
}

#mapPopover .popover-content .active{
    color: #D31E47;
    background-image: url('../../assets/img/pin_red.png');
    background-repeat: no-repeat;
    background-position: 10px 0px;
    background-size: 20px;
}

.popover{
    max-width: 340px;
    width: 340px;
    border-color: #D31E47;
    border-width: 2px;
    background-color: #D31E47;
}

.popover.top>.arrow {
    display: none;
}

.popover.top>.arrow:after {
    border-top-color: #D31E47;
}

.popover-title{
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    background-color: #D31E47;
}

.popover-content{
    background-color: white;
}


#sec-register{
    height: 750px;
    overflow: hidden;
}

#sec-register .register-header{
    background: #D31E47;
    position: absolute;
    height: 120px;
    width: 100%;
}

#sec-register .register-header h1{
    color: #ffffff;


}

#sec-register {
    height: 750px;
}

#sec-register .pallalax-bg{
    background-position: center 0;
    background-image: url('../img/register-bg.jpg');
    opacity: 0.1;
}

#sec-register .form-control label{
    padding-top: 0px;
}

#register-complete{
    height: 100%;
    margin-top: 56px;
    margin-bottom: 20px;
    position: relative;
}

#register{
    height: 100%;
    margin-top: 95px;
    margin-bottom: 20px;
    position: relative;
}



#register .inner-area{
    width: 800px;
    height: 550px;
    padding-top: 30px
}

#register-form{
    max-width: 800px;
}


#register-form .form-control{
    font-size: 25px;
}

#register-form .dropdown{
    font-size: 24px;
    width: 150px;
    border: 1px solid rgba(211, 30, 71, 0.8);
}

#register-form .dropdown li{
    font-size: 24px;

}

#dropdownMenu1 {
    padding-left: 12px;
}

#dropdownMenu1.error{
    background-color: rgba(255,10,10,0.5) !important;
}


#register-form input[type=text] , #register-form input[type=email]  , #register-form input[type=number]{
    width: 330px;
    height: 40px;
    border-color: rgba(211, 30, 71, 0.8);
}


#register-form input.error{
    background-color: rgba(255,10,10,0.5) !important;
}


#inputId{
    width: 280px;
}

#register-complete .inner-area{
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0px;*/
    /*right: 0px;*/
    /*bottom: 0px;*/
    /*margin: auto;*/
}

#register-complete .inner-area h1,#register-complete .inner-area h2{
    text-align: center;
}

#register-id-type-label{
    color: #D31E47;
    font-size: 24px;
}


#sec-gallery {
    margin-top: 40px;
    margin-bottom: 40px;
}

#galleryPopup .display {
    width: 100%;
    height: auto;
}

#sec-gallery .thumbnail{
    cursor: pointer;
}

#sec-gallery .thumbnail .thumb-img{
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center center;
}

#galleryPopupFull .modal-body {
    padding: 0px;
    /*overflow: hidden;*/
}

#galleryPopupFull .modal-body .detail>div{
    /*position: absolute;*/
}

#galleryPopupFull .modal-body .header-bg{
    width: 100%;
    background: #D31E47;
    height: 60px;
    position: absolute;
    margin-left: 15px;
}

#galleryPopupFull .modal-body .detail{

}


.thumb-image{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

.gal-arrow{
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}

.gal-arrow:hover{
    opacity: 0.95;
}



.gal-arrow.left{
    left: 5px;
    margin-top: -25px;
    /*top: 50%;*/
    top: 300px;
}

.gal-arrow.right{
    right: 5px;
    margin-top: -25px;
    /*top: 50%;*/
    top: 300px;
}

@media (min-width: 768px){
    .gal-arrow.left{
        left: -50px;
    }

    .gal-arrow.right{
        right: -50px;
    }
}




/*#galleryPopupFull .modal-body .display{*/
    /*padding-left: 0px;*/
    /*padding-right: 0px;*/
/*}*/

/*#galleryPopupFull .modal-body .detail{*/
    /*padding-left: 0px;*/
    /*padding-right: 0px;*/
/*}*/

#galleryPopupFull .modal-body .header{
    top: 0px;
    width: 100%;
    background: #D31E47;
    height: 60px;
}

#galleryPopupFull .modal-body .header>.user{
    background: grey;
    width: 35px;
    height: 35px;
    margin: 10px 15px 10px 15px;
    float: left;
    background-size: cover;
}

#galleryPopupFull .modal-body .header>span{
    color: white;
    float: left;
    padding: 8px;
}

#galleryPopupFull .modal-body .header .close{
    color: white;
    opacity: 0.8;
}

#galleryPopupFull .modal-body .content{
    padding:15px;
    word-wrap: break-word;
}

@media (min-width: 768px){
    #galleryPopupFull .modal-body .content{
        height: 450px;
    }
}


#galleryPopupFull .modal-body .footer{
    bottom: 0px;
    width: 100%;
}

#galleryPopupFull .modal-body .footer{
    bottom: 0px;
    width: 100%;
    height: 50px;
}

#galleryPopupFull .modal-body .footer>.footer-like{
    float: left;
}

#galleryPopupFull .modal-body .footer>.footer-like>a>img{
    float: left;
}

#galleryPopupFull .modal-body .footer>.footer-like>a>span{
    float: left;
    padding: 0px 14px;
    font-size: 46px;
    font-weight: bold;
    margin-top: -11px;
    color: #D31E47;
}


#galleryPopupFull .modal-body .footer>.footer-logo{
    background-image: url("../../assets/img/event-logo-l.png");
    background-position: center center;
    margin-right: 15px;
    background-size: contain;
    height: 50px;
    width: 150px;
    float: right;
    background-repeat: no-repeat;

}

#gallery-loading {
    height: 0px;
    width: 100%;
    text-align: center;
    background-color: #efefef;
}

.modal-backdrop.in {
    opacity: 0.8;
}

#sec-ending .red-area{
    /*height: 80px;*/
    background: #D31E47;
}


#sec-ending .red-area p{
    font-size: 20px;
    color: white;
}

#sec-ending .white-area{
    background: white;
    /*border-top: 1px solid #888888;*/
}

#sec-ending h1{
    margin-top: 10px;
    margin-bottom:10px;
}

#side-tab-fixed{
    position: absolute;
    right: 0px;
    top: 250px;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    /*transition:transform 0.5s ease-out;*/
}

@media (max-width: 768px){
    #galleryPopup{
        top: calc(50% - 200px) !important;
    }


}

@media (min-width: 768px){
    .modal-dialog {
        max-width: 1080px;
        width: 80%;
        margin: 30px auto;
    }

}


.text-align-center{
    text-align: center;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on September 7, 2014 */



@font-face {
    font-family: 'cordia_new';
    src: url('../fonts/cordiab-webfont.eot');
    src: url('../fonts/cordiab-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cordiab-webfont.woff') format('woff'),
    url('../fonts/cordiab-webfont.ttf') format('truetype'),
    url('../fonts/cordiab-webfont.svg#cordia_newbold') format('svg');
    font-weight: bold;
    font-style: normal;
}




@font-face {
    font-family: 'cordia_new';
    src: url('../fonts/cordia-webfont.eot');
    src: url('../fonts/cordia-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cordia-webfont.woff') format('woff'),
    url('../fonts/cordia-webfont.ttf') format('truetype'),
    url('../fonts/cordia-webfont.svg#cordia_newregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'cordia_new';
    src: url('../fonts/cordiaz-webfont.eot');
    src: url('../fonts/cordiaz-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cordiaz-webfont.woff') format('woff'),
    url('../fonts/cordiaz-webfont.ttf') format('truetype'),
    url('../fonts/cordiaz-webfont.svg#cordia_newbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}


